i {
  font-style: italic;
}
h6 {
  font-size: 1.3vw;
  font-weight: 900;
  letter-spacing: 0.05vw;
}
p {
  color: $black-40;
  font-size: 1.3vw;
  font-weight: 100;
  line-height: 1.6vw;
  margin: 5px 0;
}

.col-1 {
  color: $navy;
  font-size: 0.7vw;
  text-align: center;
  span {
    display: inline-block;
    line-height: 0.9vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
  }
}

.promo {
  h6 {
    margin-top: -$col-1-size/2;
    margin-left: $col-1-size/2;
    &:before {
      content: " ";
      display: inline-block;
      width: 2.2vw;
      height: 2.2vw;
      background-image: url('../img/icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: -0.5vw;
      margin-left: -1vw;
      margin-right: 2px;
    }
  }
  p {
    margin-left: $col-1-size/2;
  }
}

.bold {
  font-weight: 700;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
.light-blue {
  color: $light-blue;
}
.dark-orange {
  color: $dark-orange;
}
.navy {
  color: $navy;
}

.larger {
  font-size: 0.8vw;
  letter-spacing: 0.05vw;
}

.bg-yellow {
  background-image: url('../img/hex-yellow.svg');
}
.bg-green {
  background-image: url('../img/hex-green.svg');
}
.bg-orange {
  background-image: url('../img/hex-orange.svg');
  // &:hover {
  //   background-image: url('../img/hex-orange-hover.svg');
  // }
}

span.rotate-ccw-90 {
  transform: translateY(-50%) rotateZ(-90deg);
}
span.rotate-ccw-45 {
  transform: translateY(-50%) rotateZ(-45deg);
}
span.rotate-cw-45 {
  transform: translateY(-50%) rotateZ(45deg);
}

.bg-navy {
  background-image: url('../img/hex-navy.svg');
}
.bg-none {
  background-image: none;
  z-index: -1;
}
